<section id="about">
    <div class="container mb-5">
        <h2 class="text-center section_header">ИНФОРМАЦИЯ</h2>
        <p class="font-weight-bold">Почивна база</p>
        <p class="text-justify">
            Намира се на 1,5 километра южно от град Обзор посока Бургас. Има поставени табели за лесна ориентация. Местността е гористо-тревиста.
            Плажът е изключително чист, спокоен и охраняем, на около 200 м от почивната база и не разполага с чадъри и шезлонги.
        </p>
        <p class="text-justify">
            До Обзор има крайбрежна пешеходна алея. Автогарата на града се намира на 1,8 км разстояние, а центърът на Обзор – на 2,2 км.
            Плажът Иракли е разположен на 8 км от комплекса. Почивна база BulMag е една звезда и е за всички, които искат да си изкарат страхотно край морето. Уют, спокойствие и релакс.
        </p>
    </div>
</section>