<section id="about">
    <div class="container mb-5 bg-light">
        <h2 class="text-center section_header">ИНФОРМАЦИЯ</h2>
        <p class="font-weight-bold text-center">Почивна база "Шкорпиловци"</p>
        <p class="text-justify">
            Преди четири десетилетия е сформиран палатков лагер, който с помощта на служители и преподаватели на РУ“АНГЕЛ КЪНЧЕВ“ се превръща в Почивна база „Шкорпиловци“.
        </p>
        <p class="text-justify">
            За начало е построена столовата с кухненския блок, която функционира до 1998г. Построени са и външни бани и тоалетни, като банята представлява слънчев бойлер и паравани.
            През 1981г. са построени първите 2 бунгала с по две стаи(10, 11, 13 и 14). През 1983-1984г. са построени и монтирани четири малки, дървени, алпийски бунгала (3, 7, 43, 44).
            През 1986 година под ръководството на ректор Митьо Кънев и по-късно при професор Атанас Митков се взема решение базата да бъде обновена със сегашните бунгала и се построяват бунгала 1, 2, 4, 5, 6, 8, 9 и 12.
            През 1990-та година се построяват бунгала 15...20, 25... 42, 45, 46 и административния блок.
            Тези строежи са извършени по инициатива и под ръководството на проф. Митков, доц. Боков и доц. Николай Михайлов.
            За заготовките и монтирането на бунгалата дейно участие вземат и редица други професори и доценти на университета.
            Построени са и общи санитарни възли.
        </p>
        <p class="text-justify">
            През 2000г. се взема решение за събиране на документи за узаконяване на университетската почивна база.
            Едва през 2005г. след много усилия, Русенски университет „АНГЕЛ КЪНЧЕВ“ се сдобива с нотариален акт частна държавна собственост.
            През 2018г. под ръководството на проф.Белоев са реномирани бунгала 27...39, 41, 42, 45 и 46.
            Към днешна дата почивната база разполага с 47 бунгала.
        </p>
    </div>

</section>