<section id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <h3>"Шкорпиловци"</h3>
                        <p class="pb-3"><em>Здравейте, винаги сме отворени за сътрудничество и предложения,свържете се с нас по един от начините по-долу.</em></p>
                        <p>
                            СБХА Шкорпиловци
                            9112 България<br><br>
                            <strong>Телефон:</strong> 088 242 3061<br>
                            <strong>Емайл:</strong> Sbhshkorpilovtsi@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/SBH.Shkorpilovtsi/?ref=page_internal" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h5 class="text-center">КЪДЕ СMЕ НИЕ?</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2920.1957991729987!2d27.889524415774726!3d42.95307810543626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a438e81e9f93c9%3A0x551a881aca3b89ab!2z0J_QvtGH0LjQstC90LAg0YHRgtCw0L3RhtC40Y8g0KjQutC-0YDQv9C40LvQvtCy0YbQuCAtINCg0YPRgdC10L3RgdC60Lgg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JDQvdCz0LXQuyDQmtGK0L3Rh9C10LIiLyBIb2xpZGF5IEhvdXNlIG9mIFJ1c2UgVW5pdmVyc2l0eSAiQW5nZWwgS2FuY2hldiI!5e0!3m2!1sen!2sbg!4v1628515413230!5m2!1sen!2sbg" height="250" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-links text-center">
                    <h4>Полезни връзки</h4>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="http://dolni-chiflik.acstre.com/section-505-content.html" class="ml-1" target="_blank">Община Долни Чифлик</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="https://bg.wikipedia.org/wiki/%D0%A8%D0%BA%D0%BE%D1%80%D0%BF%D0%B8%D0%BB%D0%BE%D0%B2%D1%86%D0%B8" class="ml-1" target="_blank">с. Шкорпиловци</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="http://uni-ruse.bg" class="ml-1" target="_blank">Рсенски Университет</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="/Home/Privacy" class="ml-1" target="_blank">Декларация за поверителност</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-newsletter">
                    <h4>Бюлетин</h4>
                    <p>
                        Въведете вашия емайл адрес по-долу,за да се абонирате за нашия бюлетин и бъдете в крак с офертите и специалните отстъпки
                    </p>
                    <form action="" method="post">
                        <input type="email" name="email" /><input type="submit" value="Абонирай се" class="rounded-0" />
                    </form>

                </div>
            </div>

        </div>

    </div>
</section>