<section id="hero" class="hero">
    <div class="container-fluid vh-100">
        <div class="row h-50 align-items-center">
            <div class="col-10 offset-1 text-center mt-5">
                <p class="font-weight-bold text-white hero_title">Почивна база "Шкорпиловци"</p>
                <p class="font-weight-bold text-white hero_text">Природата винаги носи цветовете на духа. (Ралф Уолдо Емерсън)</p>
            </div>
        </div>
        <div class="row h-50 align-items-center">
            <div class="col-10 offset-1">

            </div>

        </div>
    </div>
    <a href="#about" class="scroll-down btn-primary" address="true"></a>
</section>