<section id="hero" class="hero">
    <div class="container-fluid vh-100">
        <div class="row h-50 align-items-center">
            <div class="col-10 offset-1 text-center mt-5">
                <p class="font-weight-bold text-white hero_title">Почивна база "Шкорпиловци"</p>
                <p class="font-weight-bold text-white hero_text">Природата винаги носи цветовете на духа. (Ралф Уолдо Емерсън)</p>
            </div>
        </div>
        <div class="row h-50 align-items-center">
            <div class="col-10 offset-1">
                <ul id="heroGallery">
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/1.jpg" alt="снимка 1" name="slider_image" />
                    </li>
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/2.jpg" alt="снимка 2" name="slider_image" />
                    </li>
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/3.jpg" alt="снимка 3" name="slider_image" />
                    </li>
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/4.jpg" alt="снимка 4" name="slider_image" />
                    </li>
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/5.jpg" alt="снимка 5" name="slider_image" />
                    </li>
                    <li>
                        <img class="img-fluid slider_image_opacity_low" src="~/img/slider/6.jpg" alt="снимка 6" name="slider_image" />
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>