<section id="karta" class="karta">
    <div class="container mt-5 mb-5">
        <img src="~/img/Karta.jpg" alt="Карта на лагера" usemap="#map_image" class="img-fluid" width="1200" height="826" />
        <map name="map_image">
            @*SETTUP*@
            <area alt="Бунгало №1" title="Бунгало №1" href="#" coords="384,312,422,330,409,357,369,339" shape="poly" number="1" fridge>
            <area alt="Бунгало №2" title="Бунгало №2" href="#" coords="427,332,465,350,451,376,414,359" shape="poly" number="2" fridge>
            <area alt="Бунгало №3" title="Бунгало №3" href="#" coords="463,366,486,366,482,392,458,389" shape="poly" number="3">
            <area alt="Бунгало №4" title="Бунгало №4" href="#" coords="489,355,522,354,522,403,488,398" shape="poly" number="4" fridge sofa>
            <area alt="Бунгало №5" title="Бунгало №5" href="#" coords="521,344,566,344,567,373,521,376" shape="poly" number="5" fridge>
            <area alt="Бунгало №6" title="Бунгало №6" href="#" coords="572,364,604,362,605,404,573,406" shape="poly" number="6">
            <area alt="Бунгало №7" title="Бунгало №7" href="#" coords="615,377,613,402,638,401,637,377" shape="poly" number="7">
            <area alt="Бунгало №8" title="Бунгало №8" href="#" coords="609,326,641,324,639,367,608,368" shape="poly" number="8">
            <area alt="Бунгало №9" title="Бунгало №9" href="#" coords="654,352,702,351,699,387,652,386" shape="poly" number="9" sofa>
            <area alt="Бунгало №10" title="Бунгало №10" href="#" coords="708,357,726,347,743,369,727,383" shape="poly" number="10">
            <area alt="Бунгало №11" title="Бунгало №11" href="#" coords="727,346,743,369,754,357,737,336" shape="poly" number="11">
            <area alt="Бунгало №12" title="Бунгало №12" href="#" coords="730,332,764,306,745,280,711,309" shape="poly" number="12">
            <area alt="Бунгало №13" title="Бунгало №13" href="#" coords="756,344,784,363,805,337,773,317" shape="poly" number="13">
            <area alt="Бунгало №14" title="Бунгало №14" href="#" coords="804,337,817,347,798,372,785,363" shape="poly" number="14" sofa>
            <area alt="Бунгало №15" title="Бунгало №15" href="#" coords="906,209,941,210,941,250,905,249" shape="poly" number="15">
            <area alt="Бунгало №16" title="Бунгало №16" href="#" coords="945,215,980,215,980,253,947,256" shape="poly" number="16">
            <area alt="Бунгало №17" title="Бунгало №17" href="#" coords="984,206,1020,207,1020,247,986,247" shape="poly" number="17">
            <area alt="Бунгало №18" title="Бунгало №18" href="#" coords="1025,199,1058,198,1060,236,1025,238" shape="poly" number="18">
            <area alt="Бунгало №19" title="Бунгало №19" href="#" coords="1063,197,1099,196,1099,238,1063,235" shape="poly" number="19">
            <area alt="Бунгало №20" title="Бунгало №20" href="#" coords="1104,194,1140,196,1138,233,1105,232" shape="poly" number="20">
            <area alt="Бунгало №21" title="Бунгало №21" href="#" coords="1133,347,1134,384,1174,384,1175,346" shape="poly" number="21">
            <area alt="Бунгало №22" title="Бунгало №22" href="#" coords="1135,386,1175,385,1176,424,1134,425" shape="poly" number="22">
            <area alt="Бунгало №23" title="Бунгало №23" href="#" coords="1061,412,1102,414,1100,452,1060,454" shape="poly" number="23">
            <area alt="Бунгало №24" title="Бунгало №24" href="#" coords="1017,415,1057,415,1058,452,1017,452" shape="poly" number="24">
            <area alt="Бунгало №25" title="Бунгало №25" href="#" coords="954,386,996,386,996,426,956,426" shape="poly" number="25">
            <area alt="Бунгало №26" title="Бунгало №26" href="#" coords="913,398,955,397,954,425,913,425" shape="poly" number="26">
            <area alt="Бунгало №47" title="Бунгало №47-P" href="#" coords="643,285,685,296,693,262,650,251" shape="poly" number="47" wc fridge>
            <area alt="Баня" title="Баня" href="#" coords="337,336,361,349,323,429,298,418" shape="poly" object bath>
            <area alt="Тоалетна" title="Тоалетна" href="#" coords="205,530,260,567" shape="rect" object main_wc>
            <area alt="Бунгала със санитарен възел" title="Бунгала със санитарен възел" href="#" coords="112,640,330,673" shape="rect" category="wc">
            <area alt="Бунгала с хладилник" title="Бунгала с хладилник" href="#" coords="268,673,111,704" shape="rect" category="fridge">
            <area alt="Бунгала с разтегаем фотьойл" title="Бунгала с разтегаем фотьойл" href="#" coords="112,705,367,734" shape="rect" category="sofa">
            <area alt="Обща баня" title="Обща баня" href="#" coords="92,736,268,766" shape="rect" category="bath">
            <area alt="Обща тоалетна" title="Обща тоалетна" href="#" coords="89,766,314,797" shape="rect" category="main_wc">
            @*SETTUP*@
        </map>
    </div>    
</section>