@model List<BungalowViewModel>

<section id="karta" class="mt-5 mb-5">
    <div class="container">
        <img src="~/img/Karta.jpg" alt="Карта на лагера" usemap="#map_image" class="img-fluid" width="1200" height="826" />
        <map name="map_image">
            @*SETTUP*@
            @foreach (var bungalo in Model)
            {
                string category = "";
                if (bungalo.HasFridge) category += " fridge";
                if (bungalo.HasWc) category += " wc";
                if (bungalo.HasSofa) category += " sofa";
                <area alt="бунгало" href="#" title="@bungalo.Description" shape="poly" number="@bungalo.Number" 
                coords="@bungalo.Coords" @category>
            }            
            <area alt="Баня" title="Баня" href="#" coords="337,336,361,349,323,429,298,418" shape="poly" object bath>
            <area alt="Тоалетна" title="Тоалетна" href="#" coords="205,530,260,567" shape="rect" object main_wc>
            <area alt="Бунгала със санитарен възел" title="Бунгала със санитарен възел" href="#" coords="112,640,330,673" shape="rect" category="wc">
            <area alt="Бунгала с хладилник" title="Бунгала с хладилник" href="#" coords="268,673,111,704" shape="rect" category="fridge">
            <area alt="Бунгала с разтегаем фотьойл" title="Бунгала с разтегаем фотьойл" href="#" coords="112,705,367,734" shape="rect" category="sofa">
            <area alt="Обща баня" title="Обща баня" href="#" coords="92,736,268,766" shape="rect" category="bath">
            <area alt="Обща тоалетна" title="Обща тоалетна" href="#" coords="89,766,314,797" shape="rect" category="main_wc">
            @*SETTUP*@
        </map>
    </div>    
</section>