<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" id="navigation">
    <div class="container">
        <a class="navbar-brand logo_opacy font-weight-bold" href="#">
            <img class="" height="48" src="~/img/logo.png" />
            <span class="ml-3">РУ "АНГЕЛ КЪНЧЕВ"</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#hero">Начало <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#about">Информация</a>
                <a class="nav-item nav-link" href="#gallery">Галерия</a>
                <a class="nav-item nav-link" href="#footer">Контакти</a>
                <button class="btn btn-outline-primary shadow text-white" id="reserveButton" href="#">Резервация</button>
            </div>
        </div>
    </div>
</nav>
