@model Bed

<h3 class="pt-3 pb-3">СИГУРНИ ЛИ СТЕ, ЧЕ ИСКАТЕ ДА ИЗТРИЕТЕ ИНФОРМАЦИЯТА ЗА ЛЕГЛОТО</h3>


<div class="form-group">
    <label style="font-size: 1em;" asp-for="Capacity" class="col-3"></label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Capacity</label>
</div>
<div class="form-group">
    <label style="font-size: 1em;" asp-for="Description" class="col-3"></label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Description</label>
</div>
<div class="form-group">
    <a asp-action="list" asp-controller="bed" class="btn btn-secondary">НАЗАД</a>
    <a class="btn btn-danger" asp-action="delete" asp-controller="bed" asp-route-id="@Model.Id">ИЗТРИЙ</a>
</div>
