@page
@model LogoutModel

<div class="container">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Натисни тук за изход</button>
            </form>
        }
        else
        {
            <p class="text-center text-danger font-weight-bold pb-5">УСПЕШНО ИЗЛЯЗОХТЕ ОТ СИСТЕМАТА.</p>
        }

        <div class="col-8 offset-2">
            <img src="~/img/emoji.jpg" class="img-fluid" />
        </div>
    }
</div>