@model UserModel

@{
    var categories = (List<Shkorpilovtsi.Models.Category>)ViewBag.categories;
}


<h3 class="pt-3 pb-3">СИГУРНИ ЛИ СТЕ, ЧЕ ИСКАТЕ ДА ИЗТРИЕТЕ ИНФОРМАЦИЯТА ЗА ПОТРЕБИТЕЛЯ</h3>


<div class="form-group">
    <label style="font-size: 1em;" asp-for="Email" class="col-3">Е-МЕЙЛ</label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">@Model.Email</label>
</div>
<div class="form-group">
    <label style="font-size: 1em;" class="col-3">КАТЕГОРИЯ</label>
    <label style="font-size: 1em;" class="font-weight-bold col-8">
        @(categories.FirstOrDefault((c) => c.Id == Model.CategoryId)?.Name ?? "няма") 
    </label>
</div>
<div class="form-group pt-3">
    <a asp-action="list" asp-controller="user" class="btn btn-secondary">НАЗАД</a>
    <a class="btn btn-danger" asp-action="delete" asp-controller="user" asp-route-id="@Model.Id">ИЗТРИИ</a>
</div>
