@model UserModel

@{
    var categories = (List<Shkorpilovtsi.Models.Category>)ViewBag.categories;
}

<form method="post">
    <div class="container vh-100">
        <div class="row h-100 align-items-center">
            <div class="card shadow m-auto">
                <div class="card-header bg-white">
                    <h6 class="text-secondary">ВЪВЕДЕТЕ ДАННИ ЗА ПОТРЕБИТЕЛ</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control form-control-sm" />
                        <span style="font-size: 0.8em" class="text-danger">@Html.ValidationMessageFor((m) => m.Email)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control form-control-sm" />
                        <span style="font-size: 0.8em" class="text-danger">@Html.ValidationMessageFor((m) => m.Password)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">ИЗБЕРИ КАТЕГОРИЯ</label>
                        <select asp-for="CategoryId" class="form-control form-control-sm">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-sm btn-primary">ЗАПАЗИ</button>
                </div>
            </div>
        </div>
    </div>
</form>    