@model Room

<h3 class="pt-3">СЪЗДАВАНЕ НА НОВА СТАЯ</h3>

<form asp-action="create" asp-controller="room" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="IsWc">
        <label class="form-check-label" asp-for="IsWc"></label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="HasFridge">
        <label class="form-check-label" asp-for="HasFridge"></label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="HasSofa">
        <label class="form-check-label" asp-for="HasSofa"></label>
    </div>
    <div class="form-group pt-3">
        <a asp-action="list" asp-controller="room" class="btn btn-secondary">НАЗАД</a>
        <button type="submit" class="btn btn-primary">СЪЗДАЙ</button>
    </div>
</form>