@model List<Category>

<div class="col-12 pt-3 pb-3">
    <a class="btn btn-primary" asp-action="create" asp-controller="category">ДОБАВИ НОВА КАТЕГОРИЯ</a>
</div>
<div class="col-12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>№</th>
                <th>НАИМЕНОВАНИЕ</th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Name</td>                    
                    <td>
                        <a class="btn btn-link" asp-action="Edit" asp-controller="category" asp-route-id="@Model[i].Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-link" asp-action="ConfirmDelete" asp-controller="category" asp-route-id="@Model[i].Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
